body {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #a81616;
  height: 100%;
  min-height: 100vh;
}

/* global style for any mui link */
div a.MuiTypography-root {
  color: white;
}

/* Global Styles for all mui buttons */

button.MuiButton-root {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid white;
}

@media (min-width: 401px) {
  button.MuiButton-root {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    width: 25%;
  }

  button.MuiButton-root.navButton {
    width: 10%;
  }
}

label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.formControl.css-1eix88o-MuiFormControlLabel-root {
  height: 25px;
}